@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.defaultFlex {
  @apply flex items-center justify-between;
}

.borderRadius {
  border-radius: 14px;
}

.options {
  outline: none;
  border: none;
  @apply font-inter py-2 text-base my-2 text-gray-700 font-medium;
}

.options:hover {
  background: #ecfeff !important;
  cursor: pointer;
}

.custom-select {
  -webkit-appearance: none !important; /* For Chrome, Safari, and newer versions of Opera */
  -moz-appearance: none !important; /* For Firefox */
  appearance: none !important; /* Standard syntax */
}
